@import '~@codeinc.mx/page-template-component/scss/pageTemplate.scss';
@import '../scss/motion.scss';


.my-section {
  width: 100vw;
  height: 530px;
}

@include bg-parallax('my-section'){
  @include set-background-image-all-versions('./images/sky') {
    background-size: cover;
  }
}

svg {
  position: absolute;

  &.eiffel {
    bottom: -70%;
    width: 80%;
    @include parallax-position-element(0.5);
  }

  &.liberty {
    bottom: -10%;
    width: 20%;
    @include parallax-position-element(0.1);
  }
}

.next-section {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  background-color: purple;
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;
}